.books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
}

.books-container div{

    width:25%;
    height: 450px;
    transition: transform .4s;
    
}

.title {
    border: 1px black solid;
    height: 65%;
    padding: 5%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    overflow: hidden;
    font-size: 5rem;
}

.books-container div:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.summary {
    border: 1px solid;
    height: 25%;
    overflow: auto;
    border-top: none;
    margin-top: 0%;  
}

