ul.chat li.message {
  border: solid #6d417e 0.5rem;
  border-radius: 1rem;
  background-color: #f8f8ff;
  margin: 1rem 0 1rem 0;
  width: max-content;
  font-size: 1.5rem;
  padding: 1rem;
}

ul.chat li.uMessage {
  border: solid #0a850a 0.5rem;
  margin-left: auto;
  background-color: #008000;
  color: #f8f8ff;
}

.input {
  border: solid #0a850a 0.5rem;
  margin-left: auto;
  background-color: #008000;
  color: #f8f8ff;
}

.input textarea {
  border: solid #0a850a 0.5rem;
  margin-left: auto;
  background-color: #008000;
  color: #f8f8ff;
}

.displayname {
  font-size: 1.5em;
}
