.pagination {
    margin-top: 2rem;
    text-align: center;
}

.pagination a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    border: 1px solid #00695c;
    margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active {
    background: #00695c;
    color: white;
}