div{
    width: 30%;
    margin-left: 30%;
}
ol {
    counter-reset: li ; 
    list-style: none; 
    padding: 10;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
  }
  
  ol li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
  }
  
  ol li:hover { background: #E9E4E0; }
  ol li:hover:before { transform: rotate(360deg); }
  ol li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #f9dd94;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
  }

  button {
    margin-left: 80px;
    line-height: 2em;
    background: #f9dd94;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
  }
  button:hover {
    line-height: 2em;
    background: #68e449;
    border: .3em solid rgb(209, 214, 132);
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
  }
  h1{
    color: #866e31;
  }