<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/display.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/shop-nav-bar.css" />
</head>

<body>
<%- include('../../includes/shop-nav-bar.ejs') %>

<br>
<br>
<br>
<h1>Cart under Development</h1>
