<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/prove02.css" />
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    
  </div>
</div>
<div class="form">
    <form action="/prove02/display-book" method="POST">
        <label for="book_title">Enter a book name</label>
        <input type="text" name="book_title" id="book_title"> <br>
        <label for="summary">Enter the book summary</label>
        <textarea name="summary" id="summary"> </textarea><br>
        <button type="submit" class="submitbutton">Add Book</button>
    </form>
</div>


</body>
</html>